DEBUG=True
SECRET_KEY=your-super-secret-key-here
DATABASE_URL=postgres://postgres:postgres@db:5432/badmintonhub
GOOGLE_OAUTH_CLIENT_ID=your_google_client_id
GOOGLE_OAUTH_SECRET=your_google_client_secret