{% extends "base.html" %}

{% block content %}


<div id="session-dashboard">


<h2>Live Court Board</h2>
<div
    class="board-container"
    hx-get="{% url 'court_board' uuid=session.uuid %}"
    {% if show_admin_panel %}
        hx-trigger="load, every 30s"
    {% else %}
        hx-trigger="load, every 5s"
    {% endif %}
    hx-swap="innerHTML"
>
    Loading courts...
</div>

<div
    hx-get="{% url 'session_history' uuid=session.uuid %}"
    {% if show_admin_panel %}
        hx-trigger="load, every 30s"
    {% else %}
        hx-trigger="load, every 5s"
    {% endif %}
    hx-swap="innerHTML"
>
    Loading courts...
</div>


{% if show_admin_panel %}

  <div
    hx-get="{% url 'admin_dashboard' uuid=session.uuid %}"
    hx-trigger="load">
  </div>
{% endif %}
</div>
{% endblock %}