{% extends "base.html" %}

{% block content %}

{% if not session.active %}

<div class="px-4 pt-4 mb-4 flex items-center justify-between">
    <p class="text-gray-500 italic">
        {{ session.venue }} Session @ {{ session.date }} no longer active
    </p>

    <a href="{% url 'session_summary' session.uuid %}"
       class="inline-block px-4 py-2 bg-green-700 text-white rounded hover:bg-green-800">
        View Session Summary
    </a>
</div>

{% endif %}

{% if show_admin_panel or session.active %}

<div id="session-dashboard" class="container mx-auto p-4">
    <section>
        <div
            hx-get="{% url 'court_board' uuid=session.uuid %}"
            {% if show_admin_panel %}
                hx-trigger="load, every 60s, court_board_update from:body"
            {% else %}
                hx-trigger="load, every 20s"
            {% endif %}
            hx-swap="innerHTML transition:true"
        >
            Loading courts...
        </div>            
    </section>

    <section>
        {% if show_admin_panel %}
            {% include "match/partials/admin_dashboard.html" %}
        {% endif %}
    </section>

    <section>
        <div
            hx-get="{% url 'session_history' uuid=session.uuid %}"
            {% if show_admin_panel %}
                hx-trigger="load, every 60s, history_update from:body"
            {% else %}
                hx-trigger="load, every 20s"
            {% endif %}
            hx-swap="innerHTML"
        >
            Loading history...
        </div>            
    </section>

</div>

{% endif %}

{% endblock %}
