
<h2 class="text-center text-2xl font-bold mb-4">Admin</h2>

    <div class="grid grid-cols-1 md:grid-cols-4 gap-4 mb-6">

        <div id="admin-players" 
            class="p-4 bg-[#203A43]/60 rounded-lg shadow border border-[#203A43]/80"
            hx-get="{% url 'admin_players' session.uuid %}"
            hx-trigger="load, every 60s, players_update from:body"
            hx-swap="innerHTML">
            <!-- Initially empty or loading message -->
            Loading players...
        </div>

        <div id="admin-pairs"
            class="p-4 bg-[#203A43]/60 rounded-lg shadow border border-[#203A43]/80"
            hx-get="{% url 'admin_pairs' session.uuid %}"
            hx-trigger="load, every 60s, pairs_update from:body"
            hx-swap="innerHTML">
            <!-- Initially empty or loading message -->
            Loading pairs...
        </div>

        <div id="admin-switch-players"
            class="p-4 bg-[#203A43]/60 rounded-lg shadow border border-[#203A43]/80"
            hx-get="{% url 'admin_switch_players' session.uuid %}"
            hx-trigger="load,  switch_players_update from:body"
            hx-swap="innerHTML">
            <!-- Initially empty or loading message -->
            Loading switch players...
        </div>


        <div id="admin-new-player"
            class="p-4 bg-[#203A43]/60 rounded-lg shadow border border-[#203A43]/80"
            hx-get="{% url 'admin_new_player' session.uuid %}"
            hx-trigger="load,  new_player_update from:body"
            hx-swap="innerHTML">
            <!-- Initially empty or loading message -->
            Loading new player...
        </div>

        
    </div>