
<h2 class="text-center font-bold mb-4">Waiting Players</h2>

<div class="space-y-2 mb-6">
    {% for player in players_waiting %}
        <div class="flex justify-between items-center bg-gray-100 dark:bg-gray-800 p-3 rounded-sm">
            <div class="font-medium">
                {{ player.name_played }}
            </div>

            <form method="post" 
                  hx-post="{% url 'pause_player_in_session' uuid=session.uuid player_id=player.id %}" 
                  hx-swap="none"
                {% csrf_token %}
                <button type="submit" 
                        class="text-red-600 hover:text-red-700 text-sm font-medium">
                    Remove
                </button>
            </form>        
        </div>
        {% empty %}
        <p class="text-gray-500 italic">No players yet.</p>
    {% endfor %}
    </div>

<form
    hx-post="{% url 'add_player_to_session' uuid=session.uuid %}"
    hx-swap="none"
>
    {% csrf_token %}

    <select name="player_id" class="border rounded p-2 w-full text-black">
        {% for player in players_not_in_session_or_paused %}
            <option value="{{ player.id }}">
                {{ player.get_name }}
            </option>
        {% endfor %}
    </select>

    <button type="submit" class="primary-button mt-6 w-full">
        Add Player
</form>
