
<h2 class="font-bold mb-4">Players:</h2>

<h3 class="font-bold">In Session</h3>
<ul class="mb-4">
    {% for player in players_waiting %}
        <li>
            {{ player.name_played }}
            <button
                hx-post="{% url 'pause_player_in_session' uuid=session.uuid player_id=player.id %}"
                class="link-button-danger ml-2">
                Remove
            </button>
        </li>
    {% empty %}
        <li>N/A</li>
    {% endfor %}
</ul>

<h3 class="font-bold">Not In Session</h3>
<ul>
    {% for player in players_not_in_session_or_paused %}
        <li>
            {{ player.name }}

            <button
                hx-post="{% url 'add_player_to_session' uuid=session.uuid %}"
                hx-vals='{"player_id": "{{ player.id }}"}'
                class="link-button-green ml-2">
                Add
            </button>
        </li>
    {% endfor %}
</ul>

