<div id="player-{{ player.id }}" class="flex justify-between items-center p-3 bg-gray-100 dark:bg-gray-800 rounded">

    <div>
        {% if state == "waiting" %}
            {{ player.name_played }}
        {% else %}
            {{ player.get_name }}
        {% endif %}
    </div>

    {% if state == "waiting" %}
        <button
            class="font-bold text-red-600 hover:text-red-700"
            hx-post="{% url 'pause_player' session.uuid player.id %}"
            hx-target="#player-{{ player.id }}"
            hx-swap="outerHTML">
            Pause
        </button>
    {% else %}
        <button
            class="font-bold text-green-600 hover:text-green-700"
            hx-post="{% url 'unpause_player' session.uuid player.id %}"
            hx-target="#player-{{ player.id }}"
            hx-swap="outerHTML">
            Unpause
        </button>
    {% endif %}

</div>