 <strong class="mb-2">Upcoming Match</strong>


{% if upcoming_match %}

<div class="grid grid-cols-2 gap-4 w-full mb-2">

    <div class="grid grid-cols-1">
        {% if show_admin_panel %}
            <span>{{ player1.get_name_with_mu }}</span>
            <span>{{ player2.get_name_with_mu }}</span>
        {% else %}
            <span>{{ player1.get_name }}</span>
            <span>{{ player2.get_name }}</span>
        {% endif %}
    </div>

    <div class="grid grid-cols-1">
        {% if show_admin_panel %}
            <span>{{ player3.get_name_with_mu }}</span>
            <span>{{ player4.get_name_with_mu }}</span>
        {% else %}
            <span>{{ player3.get_name }}</span>
            <span>{{ player4.get_name }}</span>
        {% endif %}
    </div>

</div>

{% if show_admin_panel %}
    value: {{ value }}
    <form method="post"
        hx-post="{% url 'delete_upcoming_match' uuid=session.uuid upcoming_match_id=upcoming_match_id %}"
        hx-swap="none">
        <button type="submit" class="primary-button mt-4">Regenerate</button>
    </form>

    <form method="post"
        hx-post="{% url 'delete_upcoming_matches' uuid=session.uuid %}"
        hx-swap="none">
        <button type="submit" class="primary-button mt-4">Delete</button>
    </form>
{% endif %}
{% else %}

<form method="post"
    hx-post="{% url 'generate_upcoming_match' uuid=session.uuid %}"
    hx-swap="none">
    <button type="submit" class="primary-button mt-4">
        Generate Upcoming Match
    </button>
</form>

{% endif %}